---
import Layout from "../layouts/layout.astro";
import MangaCard from "../components/app/MangaCard.astro";
import { MANGAS } from "../data/mangas";
---

<Layout>
  <h1 class="text-3xl font-bold mb-4 mt-20 underline text-center">Biblioteca de Mangas 📚</h1>
  <p class="text-center text-gray-600 mb-10">Acá comparto un poco de lo que me gusta leer y recomiendo para su lectura mientras desarrollo una pagina web con Astro.</p>
  <section class="flex flex-wrap justify-around gap-4 mt-20 mb-20">
    {MANGAS.map((manga) => (
      <MangaCard {...manga} />
    ))}
  </section>
</Layout>
