---
import { TITLE_NAV, NAV_LINKS } from '../../constants/nav';
const pathname = Astro.url.pathname;
---

<nav class="bg-gray-800 text-white">
  <ul class="flex items-center gap-6 p-4">
    <li class="text-2xl font-extrabold mr-auto">
      <a href="/" class="hover:text-blue-400 transition-colors">
        {TITLE_NAV}
      </a>
    </li>

    {NAV_LINKS.map((link) => (
      <li>
        <a
          href={link.href}
          class={`transition-colors font-medium ${
            pathname === link.href
              ? 'text-yellow-400 underline'
              : 'text-white hover:text-blue-400'
          }`}
        >
          {link.name}
        </a>
      </li>
    ))}
  </ul>
</nav>
